<%= simple_form_for card do |f| %>
  <div class="form-group">
    <%= f.input :original_text,  as: :text, label: 'Оригинал',
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text,  as: :text, label: 'Перевод',
                input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group" id="uploadImage">
    <%= f.input :image, as: :file, label: 'Изображение' %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :remote_image_url, as: :hidden %>
    <%= link_to "Загрузить из Flickr", "#", id: "flickrSearchFormLoad", remote: true %>
  </div>

  <div class="form-group">
    <%= f.input :block_id, collection: current_user.blocks.all.order('title'),
                      prompt: 'Выберите колоду', label: 'Колоды',
                      input_html: { class: 'form-control', required: true } %>
  </div>

  <%= render partial: "shared/card_image", locals: { class_column: "col-xs-6 col-md-4", card: card } %>

  <%= f.button :submit, 'Сохранить', class: 'btn btn-default' %>
<% end %>

<div id="flickrSearch">
  <%= form_tag(flickr_photos_search_cards_path, remote: true, method: :get) do %>
    <%= label_tag :query, 'Искать:' %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Найти во Flickr' %>
  <% end %>
  <div id="current_image_list"></div>
</div>
