<p><%= t(:total_words_label) %>: <%= @cards.count %></p>
<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th><%= t(:original_text_label) %></th>
    <th><%= t(:translated_text_label) %></th>
    <th><%= t(:revision) %></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <% cache card do %>
        <tr class="table table-hover table-condensed">
          <td><%= card.original_text %></td>
          <td><%= card.translated_text %></td>
          <td><%= card.review_date.strftime('%d.%m.%Y %H:%M:%S') %></td>
          <td><%= link_to t(:edit), edit_card_path(card) %></td>
          <td><%= link_to t(:delete), card, method: :delete,
                          data: { confirm: t(:delete_the_card) } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
